{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% set super_route = "settings" %}

{% block extrastylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa icon-trophy"></i>
                <a href="#">Trophy Bundle</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-times"></i>
                <a href="#">Discontinued</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Trophy Bundle - Discontinued
    </h3>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>2017 Discontinued List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group" style="float:right;">
                                    <a href="#">
                                        <button id="sample_editable_1_new" class="btn grey">
                                            Remove items when out of stock
                                        </button>
                                    </a>
                                    <a href="#">
                                        <button id="sample_editable_1_new" class="btn red">
                                            Remove items now
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="customer-table">
                        <thead>
                        <tr>
                            <th class="table-checkbox">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Supplier
                            </th>
                            <th>
                                Discontinued since
                            </th>
                            <th>
                                Stock
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
    '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {

            $('#customer-table').DataTable();

        });
    </script>
{% endblock scripts %}
