{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% set super_route = "settings" %}

{% block extrastylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">
        {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.css' filter="?cssrewrite"
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa icon-trophy"></i>
                <a href="#">Trophy Bundle</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Trophy Bundle
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa icon-trophy"></i>Trophy Bundle
                    </div>
                    <div style="float:right;">
                        <button id="submit-categories" class="btn btn-primary">Update Changes</button>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <form role="form">
                                        <label class="control-label" for="options">Options</label>
                                        <select id="options" class="multi-select form-control" name="options" multiple="multiple">
                                            {% for option in options %}
                                                <option value="{{ option.id }}">{{ option.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="height:500px;overflow: auto;">
                                <div id="trophy-library"></div>
                            </div>
                            <div class="col-md-6" style="height:500px;overflow: auto;">
                                <div id="categories"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}

    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/jquery.blockui.min.js'
    '@eezeecommerceAdminBundle/Resources/public/js/ui-blockui.min.js'
    '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js'
    '@eezeecommerceAdminBundle/Resources/public/js/scripts/components-bootstrap-tagsinput.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/handlebars.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.bundle.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        jQuery(document).ready(function() {
            $('.multi-select').multiSelect({
                selectableHeader: "<div class='custom-header'>Available</div>",
                selectionHeader: "<div class='custom-header'>Selected</div>",
            });
        });
    </script>

    <script>
        $('#submit-categories').click(function () {
            Metronic.blockUI();

            $(document).ajaxStop(function () {
                Metronic.unblockUI();
            })

        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
        $(function(){

            $('#trophy-library').jstree({
                "core" : {
                    "themes" : {
                        "responsive": false
                    },
                    // so that create works
                    "check_callback" : true,
                    'data' : {
                        'url' : function () {
                            return '{{ path("trophy_api_trophies") }}';
                        },
                        'data' : function (node) {
                            return { 'parent' : node.id };
                        }
                    }
                },
                "dnd" : {
                    "is_draggable" : function(node) {
                        if (node[0].icon != "fa fa-trophy") {
                            return;
                        }

                        return true;
                    }
                },
                "types" : {
                    "default" : {
                        "icon" : "fa fa-folder icon-state-warning icon-lg"
                    },
                    "file" : {
                        "icon" : "fa fa-file icon-state-warning icon-lg"
                    }
                },
                "state" : { "key" : "demo3" },
                "plugins" : ["search", "dnd", "state", "types", "wholerow" ],
                "types" : {
                    "default" : {
                        "valid_children": ["default", "file"]
                    },
                    "file" : {
                        "icon" : "glyphicon glyphicon-file",
                        "valid_children" : []
                    }
                }
            });
            $('#categories').jstree({
            "core" : {
                "themes" : {
                    "responsive": false
                },
                // so that create works
                "check_callback" : true,
                'data' : {
                    'url' : function () {
                        return '/admin/webstore/categories/data';
                    },
                    'data' : function (node) {
                        return { 'parent' : node.id };
                    }
                }
            },
                "dnd" : {
                    "is_draggable" : function(node) {
                        return true;
                    }
                },
            "types" : {
                "default" : {
                    "icon" : "fa fa-folder icon-state-warning icon-lg"
                },
                "file" : {
                    "icon" : "fa fa-file icon-state-warning icon-lg"
                }
            },
            "state" : { "key" : "demo3" },
            "plugins" : ["dnd", "state", "types", "wholerow" ],
            "types" : {
                "file" : {
                    "icon" : "fa fa-file",
                    "valid_children" : []
                }
            }
            });
        });
    </script>
    <script>
        $("#submit-categories").on('click', function () {
            var array = $("#categories").jstree(true).get_json("#");
            var o =$("select#options").val();
            var options = JSON.stringify(o);
            var json = JSON.stringify(array);
            var result = $.post("{{ path("add_trophies_api") }}", {"json": json, "options" : options}, function (data) {
                return true;
            });
        });
    </script>
{% endblock scripts %}
